

.login {
  h2 {
    font-weight: 500;
    font-size: 24px;
  }
  background-color: #fff;
  color: #424242;
  width: 410px;
  height: 338px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  font-family: "Roboto", sans-serif;
  line-height: 28px;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 3fr;
  &__button {
    background: linear-gradient(104.34deg, #3c4cad -15.34%, #00c3ff 145.95%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 116px;
    height: 34px;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    &:hover {
      box-shadow: 0px 0px 4px #99a0a3;
      cursor: pointer;
    }
    &:active {
      background: linear-gradient(104.34deg, #5362be -15.34%, #4ad5ff 145.95%);
      border: 1.5px solid rgba(29, 138, 216, 0.3);
      cursor: pointer;
    }
  }
  &__header {
    text-align: center;
    padding: 30px 0 0 0;
  }
}

.loginForm {
  height: 100%;
  display: grid;
  margin: 0 40px;
  grid-template-rows: 1fr 1fr 1fr;
  p {
    font-weight: 300;
    font-size: 16px;
  }
  input {
    border: 1px solid #c9cacc;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    padding: 0 15px;
    line-height: 32px;
    font-size: 15px;
    font-weight: 400;
  }
  button {
    justify-self: end;
  }
}
